<% include partials/header %>

<div class="jumbotron" id="content">
  <div class="container">
    <h2>Ethics of Stewardship Journals</h2>
    <h4>Week 2</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-xs-12">
        <div class="thumbnail">
          <img src="images/w2-1.jpg" alt="">
          <div class = "caption">
             <h3>Overview</h3>
             <p>I wished I had a better photos to show you about this day because it was lovely and important! I was very happy that I had an international roomate like you bro. And thats the beginning of our friendship</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-2.jpg" alt="">
        <div class = "caption">
           <h3>The Tiny Piñata</h3>
           <p>The courtesy of Pat and me (LOL). Still remember your face when we brought this in hahahaha. Now this little horse has probably found its way to the trash can.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-3.jpg" alt="">
        <div class = "caption">
           <h3>With Trancos Peeps</h3>
           <p>Remember Faraz? Hahaha I found this pics along with many others that he secretly took with my phone. </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-4.jpg" alt="">
        <div class = "caption">
           <h3>Albert's Sendoff</h3>
           <p>Sad to say good bye to Albert T T. But we knew he went to a good place (maybe). After all, we got to eat free food and that what Albert was for (jk). Thanks for talking in Spanish to me that day tho. I just started and you were really patient!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-5.jpg" alt="">
        <div class = "caption">
           <h3>Professor Tas (As Always)</h3>
           <p>It was really fun helping you get through your homework! It was such a good investment, cuz you have to help me with Spanish, MWAHAHAHA. Shhh... I'm just messing with you tho. I was and am willing to help you in anything bros. You can always count on me!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-6.jpg" alt="">
        <div class = "caption">
           <h3>Ending Our freshman Year!</h3>
           <p>I posted this pic up to my Facebook when I left Stanford. I told everyone about how you were such an amazong bro, and most importantly you let me borrow your headphones and did not get mad that lost them. Geez I even broke Albert's remember?</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-7.jpg" alt="">
        <div class = "caption">
           <h3>Your Birthday - 2016!</h3>
           <p>Another piñata, this time a huge radio. It was Edric's idea, and this is a nice looking polaroid we've got here! Did you hit destroy the radio at the end?</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-8.jpg" alt="">
        <div class = "caption">
           <h3>At Thaiphoon</h3>
           <p>Our first thai food eatout! We had really amazing food. I was impressed by how much you can stand spice.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-9.jpg" alt="">
        <div class = "caption">
           <h3>My Day-To-Day Problems</h3>
           <p>There're a lot of times that I had problems during the day, and I always asked you to help. Thanks for always being there and help me buying printer inks</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-10.jpg" alt="">
        <div class = "caption">
           <h3>Gossiping People</h3>
           <p>Remember this girl? She's really annoying and rude haha. Let this picture remind you of the gossiping moments we have about people like our wierd neighbors who had sex loudly at night.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-11.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab</h3>
           <p>You did a GREAT job saying that one.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-12.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-13.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-14.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-15.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-16.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-17.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-18.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-19.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/w2-20.jpg" alt="">
        <div class = "caption">
           <h3>BONUS: Kob Khun Krab 2</h3>
           <p>Now let's see how you do it the second time? Maybe not as good as the first, but c'mon that was impressive!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>
<% include partials/footer %>
